# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.eggs/
.venv/
venv/
.python-version

# Tooling
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.mypy_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
